
:root{
--background-blue:#3091C3;
    --color-pupre:#e72d18;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 100%;
    display: inline;
    

}
#global{
    width: 70vw;
    height: 70vh;
    border-radius: 1em;
    background-color: var(--background-blue);
    border: solid 0,8em rebeccapurple;
    display: flex;
    justify-content: space-evenly;
}
#win-side{
    width: 30%;
    height: 70%;
    background-color: var(--background-blue);
    border: solid 0,8em red;
    border-radius: 1em;
    display: block;

}
#my-side{
    width: 30%;
    height: 70%;
    background-color: var(--background-blue);
    border: solid 0,8em red;
    border-radius: 1em;
    display: block;

}
.verify-container{
    margin-top: -10em;
    text-align: center;
}
button{
    width: 6em;
    height: 1,5em;
}
.result-container{
    height: 10em;
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

 

