
:root{
--background-blue:#3091C3;
    --color-puple:#e90f8e;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 100%;
    display: inline;
    text-align: center;
    

}
#global{
    width: 70vw;
    height: 70vh;
    border-radius: 1em;
    background-color: var(--background-blue);
    border: solid 0,8em rebeccapurple;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
#win-side{
    width: 30%;
    height: 70%;
   
    
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 4em;

}
#my-side{
    width: 30%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
   
    
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 4em;
    

}
#my-list{
    width: 100%;
    height: 8em;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
}
.win-list-container{
    display: flex;
    flex-wrap: wrap;
}
.my-list-container{
    width: 100%;
    height: 8em;
    display: flex;
    flex-wrap: wrap;
}
#win-list{
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
}
input{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
button{
    margin-left: auto;
    margin-right: auto;
}


fieldset{
    border: solid 2px rgb(221, 9, 186);
}
.verify-container{
    margin-left: auto;
    margin-right: auto;

    width: 70vh;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: -8em;
}
button{
    margin: 3px;
    width: 6em;
    height: 1,5em;
    
    border-radius: 0,5em;
    
    cursor: grab;
    margin-left: auto;
    margin-right: auto;
    

}
.button-action:hover{
    box-shadow: inset 6em 2em 2em 2em var(--color-puple);
}

.result-container{
    height: 5em;
    width: 100%;
    text-align: center;
    margin-top: 0em;
    
    display: block;
    
    
}
p{
    
    font-size: 3em;
}
#reponse{
    height: 3em;
}
/*  début des média queries*/


 

